body,
main {
  width: 100vw;
  height: 100vh;
  background-color: #191919;
  font-family: 'Quicksand', sans serif;
  font-weight: 400;
  color: #bbbbbb;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 18%;
  height: 60vh;
}

header {
  display: flex;
  justify-content: space-around;
}

.palette {
  width: 100%;
  height: 65vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.lock {
  background-image: url('../images/unlock.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  border-radius: 25px;
  width: 35px;
  height: 35px;
  margin-bottom: 20px;
}

.locked {
  background-image: url('../images/lock.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  border-radius: 25px;
  width: 35px;
  height: 35px;
  margin-bottom: 20px;
}

.mini-color {
  height: 10vh;
}

.tiny-colors {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.saved-projects {
  margin: 10px;
}

select {
  background-color: #101010;
  color: #bbbbbb;
}

input {
  background-color: #101010;
  color: #bbbbbb;
  border: none;
}

.save-palette {
  width: 35%;
  margin: 0 auto;
  border: none;
}

.save-project {
  margin: 0 auto;
  width: 20%;
  border: none;
}

.hr {
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
 width: 90%
}

.delete {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  background-color: #bbbbbb;
  margin-top: 20px;
}

.mini-palettes {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
}


